@{
    ViewData["Title"] = "Monitoring";

    int factoryId = ViewBag.FactoryId;

    var data = await _lineService.GetProcessAndMachineOfLine(factoryId);

    var lines = data.DistinctBy(s => s.LineId).Where(s => s.LineId != 0).Select(s => s.LineId).ToList();

    var factories = await _factoryService.GetAll();

    var listMachine = await _machineService.GetAll();

}
<div class="m-3">
    @using (Html.BeginForm("Index", "Monitoring", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "searchByFactoryId" }))
    {
        <label for="factoryId" class="form-label">Factory name:</label>
        <select data-val="true" data-val-required="The Number field is required." id="factoryId" name="factoryId" onchange="submitById('searchByFactoryId')">
            @if (factoryId == 0)
            {
                <option value='' selected="selected">Choose factory</option>
            }
            else
            {
                <option value=''>Choose factory</option>
            }

            @foreach (var item in factories)
            {
                @if (factoryId == item.Id)
                {
                    <option value='@item.Id' selected="selected">@item.FactoryName</option>
                }
                else
                {
                    <option value='@item.Id'>@item.FactoryName</option>
                }
            }
        </select>
    }
</div>

@if (lines.Count > 0)
{
    @for (var i = 0; i < lines.Count; i++)
    {
        var lineData = data.Where(s => s.LineId == lines[i]).ToList();
        var lineDataCount = lineData.Count;
        if(lineDataCount > 0)
        {
            <div class="line-container">
                <div class="line-info-header">
                    <div class="line-info-header-main">
                        <div>
                            <div><strong>@lineData[0].LineName</strong></div>
                            <div>@lineData[0].ProductName</div>
                        </div>
                    </div>
                    <div class="line-info-header-expanse">
                        <ul>
                            <li>@lineData[0].LineNo</li>
                            <li>@lineData[0].ProductNo</li>
                        </ul>
                    </div>
                </div>
                <div class="line-info-body">
                    @for(int j = 0; j < lineDataCount; j++){
                        <div class="line-info-detail">
                            <div class="line-info-detail-main">
                                <div>@lineData[j].StationName</div>
                                <div>@lineData[j].MachineName</div>
                                <div>@lineData[j].ProcessName</div>
                                <div>@lineData[j].PatternNo</div>
                            </div>
                            <div class="line-info-detail-expanse">
                                <ul>
                                    @{ var dataReport = await _dataReportService.GetLastDataByStationId(lineData[j].StationId);}
                                    <li>@dataReport.ProductNumber</li>
                                </ul>
                            </div>
                            <div class="line-info-detail-expanse">
                                <ul>
                                    <li>@lineData[j].StationNo</li>
                                    <li>@lineData[j].MachineNo</li>
                                    <li>@lineData[j].ProcessNo</li>
                                </ul>
                            </div>
                        </div>

                        @if(j != lineDataCount - 1){
                            <div class="arrow"><br>&#8594;</div>
                        }
                    }
                </div>
            </div>
        }
    }
}


@section Scripts{
    <style>
        .arrow {
            font-size: 20px;
            line-height: 1;
            margin-inline: 10px;
        }
        .line-container{
            display: flex;
            margin-block: 30px;
            margin-inline: 10px;
        }
        .line-info-body{
            display: flex;
        }
        .line-info-header{
            margin-right: 50px;
        }

        .line-info-header-main, .line-info-header-expanse{
            width: 150px;
        }

        .line-info-header-main{
            
            border: 1px solid rgb(0, 0, 0);
            border-radius: 0px;
            height: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .line-info-header-expanse{
            border: 1px solid rgb(0, 0, 0);
            height: 50%;
        }
        .line-info-detail-main{
        
            border: 1px solid rgb(0, 0, 0);
            border-radius: 0px;
        }
        .line-info-detail-expanse{
            border: 1px solid rgb(0, 0, 0);
        }
        .line-container ul{
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 20px;
        }

        .line-container:nth-child(3n+1) .line-info-header-main {
            background-color: rgb(192, 214, 155);
        }
        .line-container:nth-child(3n+1) .line-info-detail-main {
            background-color: rgb(235, 241, 222)
        }
        .line-container:nth-child(3n+2) .line-info-header-main {
            background-color: rgb(149, 179, 215);
        }
        .line-container:nth-child(3n+2) .line-info-detail-main {
            background-color: rgb(198, 217, 241);
        }
        .line-container:nth-child(3n) .line-info-header-main {
            background-color: rgb(179, 162, 199);
        }
        .line-container:nth-child(3n) .line-info-detail-main {
            background-color: rgb(204, 193, 218);
        }
        
    </style>
    <script>
        setTimeout("location.reload();", 120000);
    </script>
}