@model MultipleUploadFileModel

@{
    ViewData["Title"] = "Upload Multiple Files";
    Dictionary<string, object> fileDict = await _fileService.GetDictionaryFile(null);

    Model.ListSelectedDataFile = new List<SelectedDataFileModel>();
}
<div class="col-sm-6 p-3">
    <ul>
        @foreach (var item in fileDict)
        {
            <li>
                @{
                    RenderDictionaryItem(item.Key, item.Value);
                }
            </li>
        }
    </ul>
</div>
@functions {
    void RenderDictionaryItem(string key, object value)
    {
        @if (value is Dictionary<string, object> nestedDictionary)
        {
            <span class="toggle">[+]</span>
            <span>@key</span>
            <ul style="display: none;">
                @foreach (var nestedItem in nestedDictionary)
                {
                    <li>
                        @{
                            RenderDictionaryItem(nestedItem.Key, nestedItem.Value);
                        }
                    </li>
                }
            </ul>
        }
        else
        {
            <span>@key</span>
            @* <span>: @value</span> *@

            if (value.ToString().Contains(_configuration["Settings:FileDataDirectory"].ToString() + "/VDATA"))
            {
                Model.ListSelectedDataFile.Add(new SelectedDataFileModel
                    {
                        FilePath = value.ToString(),
                        IsSelected = false
                    });

                var getIndex = Model.ListSelectedDataFile.Count - 1;
                @Html.CheckBoxFor(model => model.ListSelectedDataFile[getIndex].IsSelected)
                @Html.HiddenFor(model => model.ListSelectedDataFile[getIndex].FilePath)
            }

        }
    }
}

