@model PatternIndexPageModel
@{
    ViewData["Title"] = "Pattern";
    var patterns = await _patternService.GetAll();
}

<div class="add-pattern">
    @using (Html.BeginForm("Add", "Pattern", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <table class="upload-table">
            <tr>
                <td>
                    <label for="newFile">Add file</label>
                </td>
                <td colspan="2">
                    <input id="newFile" type="file" name="PatternCreateModel.File" style="width:100%;" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="filePath">File name</label>
                </td>
                <td>
                    @Html.EditorFor(s => s.PatternCreateModel.FileName )
                </td>
            </tr>
            <tr>
                <td>
                    <label for="patternNumber">Pattern Number</label>
                </td>
                <td>
                    @Html.EditorFor(s => s.PatternCreateModel.PatternNumber )
                </td>
            </tr>
            <tr>
                <td>
                    <label for="description">Description</label>
                </td>
                <td>
                    @Html.EditorFor(s => s.PatternCreateModel.Description )
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
    }
</div>

@using (Html.BeginForm("Delete", "Pattern", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="list-pattern">
        <table class="normal table-hover" style="width: 100%; margin-left: 5px;">
            <thead>
                <tr>
                    <th style="text-align:center;">Pattern number</th>
                    <th style="text-align:center;">File name</th>
                    <th style="text-align:center;">Description</th>
                    <th style="text-align:center;"></th>
                    <th style="text-align:center;"><input type="checkbox" onclick="checkAll()"></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < patterns.Count; i++)
                {
                    Model.ListDeletePatternById.Add(new DeletePatternModel { Id = patterns[i].Id, IsSelected = false });

                    <tr>
                        <td>@patterns[i].PatternNumber</td>
                        <td><a class="download-file" href='@Url.Action("Download", "Pattern", new {id = @patterns[i].Id})'>
                                <i class="fa fa-file" style="font-size:15px;color:#82a6c9;"></i>
                                <strong>@patterns[i].FileName</strong>
                            </a></td>
                        <td>@patterns[i].Description</td>
                        <td>
                            <a href="@Url.Action("Update", new { id = @patterns[i].Id })">Edit</a>
                        </td>
                        <td>
                            @Html.CheckBoxFor(s=> s.ListDeletePatternById[i].IsSelected)
                        </td>
                    </tr>
                    @Html.HiddenFor(s=> s.ListDeletePatternById[i].Id)
                }
            </tbody>
        </table>
    </div>

    <div class="submit-delete">
        <input type="submit" value="Delete" />
    </div>

}