@model LineUpdateModel
@{
    ViewData["Title"] = "Update product line";
    var line = await _lineService.GetById(Model.Id);

    Model.LineName = line?.LineName;
    Model.ProductId = line?.ProductId ?? 0;
    Model.Order = line?.Order ?? 0;

    var listSelecteProduct = new List<SelectListItem>();
    listSelecteProduct.Add(new SelectListItem { Value = "", Text = "Choose product" });

    var listPattern = await _productService.GetAll();
    listPattern.ForEach(s => listSelecteProduct.Add(new SelectListItem
            {
                Value = s.Id.ToString(),
                Text = s.ProductName
            }));
}


<div>
    @using (Html.BeginForm("UpdateProductLine", "Line", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <table class="upload-table">
            <tr>
                <td>
                    <label>Line name:</label>
                </td>
                <td>
                    @Html.HiddenFor(s => s.Id)
                    @Html.HiddenFor(s => s.DepartmentId)
                    @Html.EditorFor(s => s.LineName)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Product:</label>
                </td>
                <td>
                    @Html.DropDownListFor(s => s.ProductId, listSelecteProduct)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Order:</label>
                </td>
                <td>
                    @Html.EditorFor(s => s.Order)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Save" /></td>
            </tr>
        </table>
    }
</div>
