@model ProductCreateModel
@{
    ViewData["Title"] = "ProductDetail";
    var listProduct = await _productService.GetAll();
}

<div>
    @using (Html.BeginForm("Add", "Product", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <table class="upload-table">
            <tr>
                <td>
                    <label for="productName">Product name</label>
                </td>
                <td>
                    @Html.EditorFor(s => s.ProductName)
                </td>
                <td>
                    <input type="submit" value="Add" />
                </td>
            </tr>
        </table>
    }
</div>

<div>
    <table class="normal table-hover" style="width: 100%;">
        <thead>
            <tr>
                <th>No</th>
                <th>Product name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < listProduct.Count; i++)
            {
                int number = i + 1;
                <tr>
                    <td>@number</td>
                    <td>@listProduct[i].ProductName</td>
                    <td>
                        <a href="@Url.Action("Delete", new { id = @listProduct[i].Id })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>