@{
    ViewData["Title"] = "Machine setting";
    int factoryId = ViewBag.FactoryId;

    var factories = await _factoryService.GetAll();

    factoryId = (factoryId == 0) ? factories.Select(s => s.Id).FirstOrDefault() : factoryId;

    var machineData = await _machineService.GetByFactoryId(factoryId);

}

<h4 class="setting-header">Machine setting</h4>

<table class="normal-table table-hover">
    <thead>
        <tr>
            <th colspan="100%">
                <div style="display: flex;justify-content: space-between;">
                    <div>
                        Machine table
                    </div>
                    <div style="text-align: right;">
                        <button type="button" class="btn btn-info btn-sm" style="color: white;"
                            onclick="openPopup('addNewMachine')">
                            <i class="fa fa-circle-plus" style="color: white;"></i>
                            Add new machine
                        </button>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                Factory:
            </th>
            <th colspan="6">
                @using (Html.BeginForm("Machine", "Setting", FormMethod.Get, new
                {
                    @enctype = "multipart/form-data",
                    @id = "searchByFactoryId"
                }))
                {
                    <select data-val="true" data-val-required="The Number field is required." id="factoryId"
                        name="factoryId" onchange="submitById('searchByFactoryId')">

                        @* @if (factoryId == 0)
                        {
                            <option value='' selected="selected">Choose factory</option>
                        }
                        else
                        {
                            <option value=''>Choose factory</option>
                        } *@

                        @foreach (var item in factories)
                        {
                            @if (factoryId == item.Id)
                            {
                                <option value='@item.Id' selected="selected">@item.FactoryName</option>
                            }
                            else
                            {
                                <option value='@item.Id'>@item.FactoryName</option>
                            }
                        }
                    </select>
                    <button type="submit" style="border: none;  display: none;"><i class="fa fa-magnifying-glass"
                            style="cursor: pointer;"></i> Search</button>
                }
            </th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Machine No</th>
            <th>Machine name</th>
            <th>IP Address</th>
            <th>Cnc Machine</th>
            <th>CO part No</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in machineData)
        {
            <tr>
                <td>@item.MachineNo</td>
                <td>@item.MachineName</td>
                <td>@item.IpAddress</td>
                <td>@Html.CheckBox(nameof(item.CncMachine),item.CncMachine, new {@disabled  = "true"})</td>
                <td>@item.COPartNo</td>
                <td>
                    <div style="display: flex; justify-content: space-around; align-items: center;">
                        <div id="reset">
                            <button type="button" class="btn btn-warning btn-sm"
                                onclick="openResetPopup('resetMachine', '@item.MachineId', '@item.MachineName')">
                                <i class="fa fa-broom"></i>
                                Reset product
                            </button>
                        </div>
                        <div id="update">
                            <button type="button" class="btn btn-info btn-sm" style="color: white;"
                                onclick="openUpdatePopup('updateMachine', @JsonConvert.SerializeObject(item))">
                                <i class="fa fa-light fa-pen-to-square" style="color: rgb(0, 73, 128);"></i>
                                Edit
                            </button>
                        </div>
                        <div id="delete">
                            <button type="button" class="btn btn-danger btn-sm" style="color: white;"
                                onclick="openDeletePopup('deleteMachine', '@item.MachineId', '@item.MachineName')">
                                <i class="fa fa-light fa-trash" style="color: white;"></i>
                                Delete
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="popup-container" id="addNewMachine">
    <div class="popup-dialog">
        <div class="popup-content">
            <span class="close-button" onclick="closePopup('addNewMachine')">&times;</span>
            <h2>Add new machine</h2>
            @using (Html.BeginForm("AddMachine", "Setting", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div class="mb-3">
                    <label for="MachineName" class="form-label">Machine name:</label>
                    <input type="text" class="form-control" id="MachineName" name="MachineName">
                    <input type="number" class="form-control" id="FactoryId" name="FactoryId" style="display: none;"
                        value='@factoryId'>
                </div>
                <div class="mb-3">
                    <label for="MachineNo" class="form-label">Machine no:</label>
                    <input type="number" class="form-control" id="MachineNo" name="MachineNo">
                </div>
                <div class="mb-3">
                    <label for="CncMachine" class="form-label">Cnc Machine:</label>
                    <td>@Html.CheckBox("CncMachine", false, new{@id = "CncMachine"})</td>
                </div>
                <div class="d-grid">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            }
        </div>
    </div>
</div>

<div class="popup-container" id="updateMachine">
    <div class="popup-dialog">
        <div class="popup-content">
            <span class="close-button" onclick="closePopup('updateMachine')">&times;</span>
            <h2>Update machine</h2>
            @using (Html.BeginForm("UpdateMachineName", "Setting", FormMethod.Post, new
            {
                @enctype = "multipart/form-data"
            }))
            {
                <div class="mb-3">
                    <label for="MachineName" class="form-label">Machine name:</label>
                    <input type="text" class="form-control" id="MachineName" name="MachineName">
                    <input type="number" class="form-control" id="FactoryId" name="FactoryId" style="display: none;" value='@factoryId'>
                    <input type="number" class="form-control" id="MachineId" name="MachineId" style="display: none;" value=''>
                </div>
                <div class="mb-3">
                    <label for="CncMachine" class="form-label">Cnc Machine:</label>
                    <td>@Html.CheckBox("CncMachine", false, new{@id = "CncMachine"})</td>
                </div>
                <div class="d-grid">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            }
        </div>
    </div>
</div>

<div class="popup-container" id="deleteMachine">
    <div class="popup-dialog">
        <div class="popup-content">
            <span class="close-button" onclick="closePopup('deleteMachine')">&times;</span>
            <h2>Delete machine</h2>
            @using (Html.BeginForm("DeleteMachine", "Setting", FormMethod.Post, new
            {
                @enctype = "multipart/form-data"
            }))
            {
                <div class="mb-3">
                    <label for="machineId" class="form-label">Do you want to delete machine: <strong></strong>?</label>
                    <input type="number" class="form-control" id="machineId" name="machineId" style="display: none;">
                    <input type="number" class="form-control" id="factoryId" name="factoryId" style="display: none;" value='@factoryId'>
                </div>
                <div class="d-grid">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            }
        </div>
    </div>
</div>

<div class="popup-container" id="resetMachine">
    <div class="popup-dialog">
        <div class="popup-content">
            <span class="close-button" onclick="closePopup('resetMachine')">&times;</span>
            <h2>Reset machine</h2>
            @using (Html.BeginForm("ResetProductMachine", "Setting", FormMethod.Post, new
            {
                @enctype = "multipart/form-data"
            }))
            {
                <div class="mb-3">
                    <label for="machineId" class="form-label">Do you want to reset product of machine: <strong></strong>?</label>
                    <input type="number" class="form-control" id="machineId" name="machineId" style="display: none;">
                    <input type="number" class="form-control" id="factoryId" name="factoryId" style="display: none;" value='@factoryId'>
                </div>
                <div class="d-grid">
                    <input type="submit" class="btn btn-warning" value="Reset">
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function openUpdatePopup(id, param) {

            // Access elements within the form using document.getElementById()
            var pMachineId = document.querySelector('[id=updateMachine] [id=MachineId]');
            var pMachineName = document.querySelector('[id=updateMachine] [id=MachineName]');
            var pIpAddress = document.querySelector('[id=updateMachine] [id=IpAddress]');
            var pCnc = document.querySelector('[id=updateMachine] [id=CncMachine]');

            // Set the values using the properties from the param object
            pMachineId.value = param.MachineId;
            pMachineName.value = param.MachineName;
            pIpAddress.value = param.IpAddress;

            if(param.CncMachine){
                pCnc.setAttribute("checked", true)
            }else{
                pCnc.removeAttribute("checked", true)
            }

            if(param.LineId !== 0 || param.StationId !== 0){
                pIpAddress.setAttribute("disabled", true);
            }else{
                pIpAddress.removeAttribute("disabled");
            }

            document.getElementById(id).style.display = "block";
        }

        function openDeletePopup(id, machineId, machineName) {
            var machineNameElement = document.querySelector('[id=deleteMachine] label strong');
            machineNameElement.innerText = `${machineName}`;

            var pMachineId = document.querySelector('[id=deleteMachine] [id=machineId]');
            pMachineId.value = machineId;

            document.getElementById(id).style.display = "block";
        }
        
        function openResetPopup(id, machineId, machineName) {
            var machineNameElement = document.querySelector('[id=resetMachine] label strong');
            machineNameElement.innerText = `${machineName}`;

            var pMachineId = document.querySelector('[id=resetMachine] [id=machineId]');
            pMachineId.value = machineId;

            document.getElementById(id).style.display = "block";
        }

    </script>
}
