@{
    ViewData["Title"] = "Product setting";
    int factoryId = ViewBag.FactoryId;
    int productId = ViewBag.ProductId;
    bool edit = ViewBag.Edit;

    string acceptedFiles = ".VDT,.PMD";

    var productData = await _productService.GetProductByFactoryId(factoryId);

    // Process data: Get by product id
    var processData = await _processService.GetByProductId(productId);
}
<table class="normal-table table-hover">
    <thead>
        <tr>
            <th colspan="100%">
                <div style="display: flex;justify-content: space-between;">
                    <div>
                        Product data setting table
                    </div>
                    <div style="text-align: right;">
                        @if (!edit)
                        {
                            <a
                                href='@Url.Action("ProductDetail", "Setting", new {factoryId =  @factoryId, productId = @productId, edit = true})'>
                                <i class="fa fa-light fa-pen-to-square"></i>
                            </a>
                        }
                        else
                        {
                            <a
                                href='@Url.Action("ProductDetail", "Setting", new {factoryId =  @factoryId, productId = @productId, edit = false})'>
                                <i class="fa fa-light fa-eye"></i>
                            </a>
                        }
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                Product:
            </th>
            <th colspan="100%">
                @using (Html.BeginForm("ProductDetail", "Setting", FormMethod.Get, new
                {
                    @enctype = "multipart/form-data",
                     @id = "searchByProductId"
                }))
                {
                    <input type="number" class="form-control" id="factoryId" name="factoryId" style="display: none;"
                        value='@factoryId'>
                    <select data-val="true" data-val-required="The Number field is required." id="productId"
                        name="productId" onchange="submitById('searchByProductId')">

                        @if (productId == 0)
                        {
                            <option value='' selected="selected">Choose product</option>
                        }
                        else
                        {
                            <option value=''>Choose product</option>
                        }

                        @foreach (var item in productData)
                        {
                            @if (productId == item.ProductId)
                            {
                                <option value='@item.ProductId' selected="selected">@item.ProductName</option>
                            }
                            else
                            {
                                <option value='@item.ProductId'>@item.ProductName</option>
                            }
                        }
                    </select>
                    <button type="submit" style="border: none; display: none;">
                        <i class="fa fa-magnifying-glass" style="cursor: pointer;"></i> Search</button>
                }
            </th>
        </tr>
    </thead>
    <thead>
        @if (!edit)
        {
            <tr>
                <th>Process name</th>
                <th>Process No</th>
                <th>CO attachment</th>
                <th>Operation data</th>
                <th>Pattern No</th>
                <th>Description</th>
            </tr>
        }
        else
        {
            <tr>
                <th>Process name</th>
                <th>Process No</th>
                <th>CO attachment</th>
                <th>Operation data</th>
                <th>Pattern No</th>
                <th>Change pattern</th>
                <th>Description</th>
            </tr>
        }
    </thead>
    <tbody>
        @if (!edit)
        {
            @foreach (var item in processData)
            {
                <tr>
                    <td>@item.ProcessName</td>
                    <td>@item.ProcessNo</td>
                    <td>@item.COAttachment</td>
                    <td>@item.OperationData</td>
                    <td>
                        <a href='@Url.Action("DownloadFile", "Setting", new {path =  @item.PatternDirectory})'
                            class="download-file">
                            <strong>@item.PatternNo</strong>
                        </a>
                    </td>
                    <td>@item.Description</td>
                </tr>
            }
        }
        else
        {

            @using (Html.BeginForm("UpdateProcess", "Setting", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <input type="number" class="form-control" id="FactoryId" name="FactoryId" style="display: none;"
                    value='@factoryId'>
                <input type="number" class="form-control" id="ProductId" name="ProductId" style="display: none;"
                    value='@productId'>

                @for (int i = 0; i < processData.Count; i++)
                {
                    //Update ProcessName, Pattern, Description
                    var strId = $"ListProcessUpdate_{i}__Id";
                    var strName = $"ListProcessUpdate[{i}].Id";
                    <input type="number" class="form-control" id="@strId" name="@strName" value='@processData[i].Id'
                        style="display: none;">

                    strId = $"ListProcessUpdate_{i}__ProcessName";
                    strName = $"ListProcessUpdate[{i}].ProcessName";

                    <tr>
                        <td><input type="text" class="form-control" id="@strId" name="@strName" value='@processData[i].ProcessName'>
                        </td>
                        <td>@processData[i].ProcessNo</td>
                        <td>@processData[i].COAttachment</td>
                        <td>@processData[i].OperationData</td>
                        <td>@processData[i].PatternNo</td>

                        @{
                            strId = $"ListProcessUpdate_{i}__FileData";
                            strName = $"ListProcessUpdate[{i}].FileData";
                        }

                        <td><input type="file" id="@strId" name="@strName" accept="@acceptedFiles"></td>

                        @{
                            strId = $"ListProcessUpdate_{i}__Description";
                            strName = $"ListProcessUpdate[{i}].Description";
                        }

                        <td><input type="text" class="form-control" id="@strId" name="@strName" value='@processData[i].Description'>
                        </td>
                    </tr>
                }

                <tr>
                    <td colspan="100%"><input type="submit" class="btn btn-primary" value="Save"> </td>
                </tr>
            }
        }
    </tbody>
</table>