@model List<GetProcessAndMachineOfLineModel>
@{
    ViewData["Title"] = "Overview";
    var lines = Model.DistinctBy(s => s.LineId).Where(s => s.LineId != 0).Select(s => s.LineId).ToList();
}
@if (lines.Count > 0)
{
    @for (var i = 0; i < lines.Count; i++)
    {
        var lineData = Model.Where(s => s.LineId == lines[i]).ToList();

        <table class="overview-line">
            <tr>
                <td style="border: 0;"></td>
                @for (var index = 0; index < lineData.Count; index++)
                {
                    string machineName = String.IsNullOrEmpty(lineData[index].MachineName) ? "Notfound" :
                    lineData[index].MachineName;
                    <td style="border: 0;"></td>
                    <td>@machineName</td>
                }
            </tr>
            <tr>
                <td style="border: 0;"></td>
                @for (var index = 0; index < lineData.Count; index++)
                {
                    <td style="border: 0;"></td>
                    <td>--</td>
                }
            </tr>
            <tr>
                <td style="white-space: nowrap;">@lineData[0].LineName</td>
                <td style="white-space: nowrap; border: 0;"></td>
                @for (var index = 0; index < lineData.Count; index++)
                {
                    string processName = String.IsNullOrEmpty(lineData[index].ProcessName) ? "Notfound" :
                    lineData[index].ProcessName;
                    <td style="white-space: nowrap;">@processName</td>
                    @if (index < lineData.Count - 1)
                    {
                        <td style="white-space: nowrap; border: 0;">
                            <div class="arrow">&#8594;</div>
                        </td>
                    }
                }
            </tr>
            <tr>
                @{
                    string productName = String.IsNullOrEmpty(lineData[0].ProductName) ? "Notfound" : lineData[0].ProductName;
                }
                <td style="white-space: nowrap;">@productName</td>
                @for (var index = 0; index < lineData.Count; index++)
                {
                    string patternName = String.IsNullOrEmpty(lineData[index].PatternName) ? "Notfound" :
                    lineData[index].PatternName;
                    <td style="border: 0;"></td>
                    <td>@patternName</td>
                }
            </tr>
        </table>
    }
}


@section Scripts{
    <style>
        .overview-line table,
        .overview-line th,
        .overview-line td {
            border: 1px solid rgb(230, 55, 55);
        }

        .overview-line td {
            min-width: 20px;
        }

        .overview-line table {
            padding: 10px;
        }

        .overview-line .arrow {
            font-size: 30px;
            line-height: 1;
        }
    </style>
}