@{
    ViewData["Title"] = "Machine - Line Assigning";
    int factoryId = ViewBag.FactoryId;
    int lineId = ViewBag.LineId;
    bool edit = ViewBag.Edit;
    
    var factories = await _factoryService.GetAll();

    factoryId = (factoryId == 0) ? factories.Select(s => s.Id).FirstOrDefault() : factoryId;
    
    var lineData = await _lineService.GetByFactoryId(factoryId);

    // Process data: Get by product id
    var stationData = await _stationService.GetByLineId(lineId);

    var machineData = await _machineService.GetAvalableMachine(lineId);
}
<table class="normal-table table-hover">
    <thead>
        <tr>
            <th colspan="100%">
                <div style="display: flex;justify-content: space-between;">
                    <div>
                        Machine - line assigning table
                    </div>
                    <div style="text-align: right;">
                        @if (!edit)
                        {
                            <a
                                href='@Url.Action("MachineLine", "Assigning", new {factoryId =  @factoryId, lineId = lineId, edit = true})'>
                                <i class="fa fa-light fa-pen-to-square"></i>
                            </a>
                        }
                        else
                        {
                            <a
                                href='@Url.Action("MachineLine", "Assigning", new {factoryId =  @factoryId, lineId = lineId, edit = false})'>
                                <i class="fa fa-light fa-eye"></i>
                            </a>
                        }
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                Factory:
            </th>
            <th colspan="4">
                @using (Html.BeginForm("MachineLine", "Assigning", FormMethod.Get, new { @enctype = "multipart/form-data",  @id = "searchByFactoryId" }))
                {
                    <select data-val="true" data-val-required="The Number field is required." id="factoryId"  name="factoryId" onchange="submitById('searchByFactoryId')">
                        @* @if (factoryId == 0)
                        {
                            <option value='' selected="selected">Choose factory</option>
                        }
                        else
                        {
                            <option value=''>Choose factory</option>
                        } *@

                        @foreach (var item in factories)
                        {
                            @if (factoryId == item.Id)
                            {
                                <option value='@item.Id' selected="selected">@item.FactoryName</option>
                            }
                            else
                            {
                                <option value='@item.Id'>@item.FactoryName</option>
                            }
                        }
                    </select>
                }
            </th>
        </tr>
        <tr>
            <th>
                Line:
            </th>
            <th colspan="4">
                @using (Html.BeginForm("MachineLine", "Assigning", FormMethod.Get, new
                {
                    @enctype = "multipart/form-data",
                    @id = "searchByLineId"
                }))
                {
                    <input type="number" class="form-control" id="factoryId" name="factoryId" style="display: none;"
                        value='@factoryId'>
                    <select data-val="true" data-val-required="The Number field is required." id="lineId" name="lineId"
                        onchange="submitById('searchByLineId')">

                        @if (lineId == 0)
                        {
                            <option value='' selected="selected">Choose line</option>
                        }
                        else
                        {
                            <option value=''>Choose line</option>
                        }

                        @foreach (var item in lineData)
                        {
                            @if (lineId == item.Id)
                            {
                                <option value='@item.Id' selected="selected">@item.LineName</option>
                            }
                            else
                            {
                                <option value='@item.Id'>@item.LineName</option>
                            }
                        }
                    </select>
                }
            </th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Station name</th>
            <th>Station No</th>
            <th>Machine name</th>
        </tr>

    </thead>
    <tbody>
        @if (!edit)
        {
            @foreach (var item in stationData)
            {
                var machine = machineData.Where(s => s.StationId == item.Id).FirstOrDefault();

                <tr>
                    <td>@item.StationName</td>
                    <td>@item.StationNo</td>
                    <td>@machine?.MachineName</td>
                </tr>
            }
        }
        else
        {
            @using (Html.BeginForm("AssignMachineLine", "Assigning", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <input type="number" class="form-control" id="FactoryId" name="FactoryId" style="display: none;"
                    value='@factoryId'>
                <input type="number" class="form-control" id="LineId" name="LineId" style="display: none;" value='@lineId'>

                @for (int i = 0; i < stationData.Count; i++)
                {
                    var machine = machineData.Where(s => s.StationId == stationData[i].Id).FirstOrDefault();

                    //Update StationName
                    var strId = $"ListAssignMachine_{i}__StationId";
                    var strName = $"ListAssignMachine[{i}].StationId";
                    <input type="number" class="form-control" id="@strId" name="@strName" value='@stationData[i].Id'
                        style="display: none;">

                    strId = $"ListAssignMachine_{i}__MachineId";
                    strName = $"ListAssignMachine[{i}].MachineId";

                    <tr>
                        <td>@stationData[i].StationName</td>
                        <td>@stationData[i].StationNo</td>
                        <td>
                            <select data-val="true" data-val-required="The Number field is required." id="@strId" name="@strName">

                                @if (machine is null)
                                {
                                    <option value='' selected="selected">Empty</option>
                                }
                                else{
                                    <option value=''>Empty</option>
                                }

                                @foreach (var item in machineData)
                                {
                                    @if (stationData[i].Id == item.StationId)
                                    {
                                        <option value='@item.Id' selected="selected">@item.MachineName</option>
                                    }
                                    else
                                    {
                                        <option value='@item.Id'>@item.MachineName</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                }

                <tr>
                    <td colspan="100%"><input type="submit" class="btn btn-primary" value="Save"> </td>
                </tr>
            }
        }
    </tbody>
</table>