@using esp32_client.Controllers;

@model List<ServerModel>;
@{
    System.Console.WriteLine("==== Model: " + Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}
<div class="tabs-container">
    <div class="tab-menu">
        <div class="search-box">
            <input type="text" id="searchInput" placeholder="Search">
        </div>
        <div class="reload-list-server">
            @{
                var actionReload = nameof(@ServerController.Reload);
            }
            <a href="@Url.Action(@actionReload)">
                <i class="fa fa-repeat"></i>
            </a>

            <br>
        </div>
        <div class="list-server">
            <ul>
                @{
                    foreach (var item in Model)
                    {
                        var actionName = nameof(@ServerController.Detail);
                        var subDir = "";
                        var serverName = string.IsNullOrEmpty(item.ServerName) ? item.IpAddress : item.ServerName;

                        <li>
                            @if (item.ServerState == ServerState.Unknown)
                            {
                                <a href="@Url.Action(@actionName, new { ipAddress = item.IpAddress, subDirectory = @subDir})"
                                    class="list-server-detail" style="background-color: red;">
                                    <strong>@serverName</strong>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action(@actionName, new { ipAddress = item.IpAddress, subDirectory = @subDir})"
                                    class="list-server-detail" style="background-color: #005F99;">
                                    <strong>@serverName</strong>
                                </a>
                            }
                        </li>
                    }
                }
            </ul>
        </div>

    </div>

</div>
