@model MachineCreateModel
@{
    ViewData["Title"] = "Machine";
    var machines = await _machineService.GetAll();
}


<div>
    @using (Html.BeginForm("Add", "Machine", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <table class="upload-table">
            <tr>
                <td>
                    <label for="machineName">Machine name</label>
                </td>
                <td>
                    @Html.EditorFor(s => s.MachineName)
                </td>
                <td>
                    <label for="ipAddress">Ip address</label>
                </td>
                <td>
                    @Html.EditorFor(s => s.IpAddress)
                </td>
                <td>
                    <input type="submit" value="Add" />
                </td>
            </tr>
        </table>
    }
</div>

<div>
    <table class="normal table-hover" style="width: 100%;">
        <thead>
            <tr>
                <th>No</th>
                <th>Machine name</th>
                <th>Ip address</th>
                <th>Line</th>
                <th>Process</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < machines.Count; i++)
            {
                int number = i + 1;
                <tr>
                    <td>@number</td>
                    <td>@machines[i].MachineName</td>
                    <td>@machines[i].IpAddress</td>
                    <td>@machines[i].LineId</td>
                    <td>@machines[i].ProcessId</td>
                    <td>
                        <a href="@Url.Action("Delete", new { id = @machines[i].Id })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>